# General

.kiro
.vscode
.github
CLAUDE.md
AGENTS.md
.DS_Store
.cursor

# dependencies
node_modules
client/node_modules
server/node_modules

#environment variables
.env
.env.*
!server/.env.test.example
